* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to right,  #f6490f, #f27813, #ef9614);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80vw;
    max-width: 80%;
    background-color: rgb(253, 253, 123);
    height: 70vh;
    box-shadow: 0 0  5px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
}

.score {
    font-size: large;
    font-weight: bold;
}

#user-score {
    color: #f6490f;
}

#total-score {
    color: #f6490f;
}

.btn {
    font-size: large;
    font-weight: bold;
    box-shadow: 0 6px 12px-2px rgba(#f27813,.15);
    background: #f39507;
    border-radius: 4px;
    padding: 10px;
    color: rgb(255, 255, 61);
    margin: 6px;
    cursor: pointer;
}

.options {
    padding: 10px;
    order: 3;
}

.controls {
    padding: 10px;
    order: 4;
}

.hide {
    display: none;
}

.btn:hover {
    transform: scale(.98);
}

@media screen and (max-width: 568px) {
    .btn {
       margin: 0 auto;
    }
}








